// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

// // Variables
// @import 'variables';

// Bootstrap
///@import '~bootstrap/scss/bootstrap';
@import '~ionicons/dist/css/ionicons.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/plugins/summernote/summernote-bs4.css';
@import '~admin-lte/plugins/select2/css/select2.min.css';
@import '~daterangepicker/daterangepicker.css';
@import '~admin-lte/dist/css/adminlte.css';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';


.login-page {
    height: 70vh;
}

.router-link-exact-active {
    background-color: #3f51b5;
    color: white !important;
  }

  .input-group.is-invalid {
    ~ .invalid-feedback {
      display: block;
    }
  }
